@import "compass";
@import "compass/reset";

body {
  box-sizing: border-box;
  color: #666;
  font-size: 14px;
  line-height: 1.5em;
}
p {
  margin-bottom: 1em;
}

a, a:link, a:visited, a:hover, a:active {
  color: #555;
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}
h1,h2 {
  font-weight: bold;
}

.con-nav {
  @include display-flex;
  @include flex-direction(colomn);
  @include justify-content(center);
  @include align-items(flex-end);
  width: 100%;
  border-bottom: 1px solid #cee;
  font-family: 'Titillium Web', sans-serif;

  header,
  nav {
    padding: 5px 20px;
  }

  header {
    text-align: center;
  }

  nav ul.ul-menu {
    @include display-flex;
    @include flex-direction(colomn);
    @include justify-content(center);
    li {
      margin: 3px 20px;
      font-size: 10px;
    }
    & > li {
      margin: 5px 10px;
      font-size: 20px;
    }
  }
}

.icn-myprof {
  @include border-radius(60px);
  margin-bottom: 10px;
  width: 120px;
  height: 120px;
}

.con-main {
  width: 100%;
  border-right: 1px solid #eee;
  & > section > h1 {
    padding: 10px 10px 30px;
    background-color: #ff029a;
    color: #fff;
    text-align: right;
  }
}

.org {
  @include box-shadow(rgba(0, 0, 0, .05) 0 3px 0);
  padding: 10px;
  border-bottom: 1px solid #ccc;

  &:nth-of-type(even) {
    background-color: #fcfcfc;
  }

  &:last-of-type {
    border-bottom: 0;
  }
  h1 {
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
  }
  .timespan {
    text-align: right;
  }
}
.con-cards {
  @include display-flex;
  @include flex-direction(colomn);
  @include align-items(stretch);
  @include flex-wrap(wrap);
}
.card {
  box-sizing: border-box;
  padding: 10px;
  min-width: 320px;
  width: 33.33%;

  .con-cards &:nth-child(2) {
    background-color: #fef0f9;
  }

  h1 {
    @include border-radius(4px);
    @include background-image(linear-gradient(left top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 80%,rgba(206,0,124,.65) 98%,rgba(206,0,124,.65) 100%));
    display: block;
    border-bottom: 1px solid #ff029a;
    color: #777;
    font-size: 18px;
  }

  div {
    margin: 10px 0;
  }

  .thumb {
    max-width: 250px;
    max-height: 250px;
    border: 1px solid #ccc;
  }
}
.skills {
  li {
    display: inline-block;
    margin: 4px;
    padding: 4px 8px;
    border-radius: 8px;
    background-color: #eee;
    color: #999;
    font-size: 12px;
  }
}

footer {
  padding: 10px;
  background-color: #eee;
  text-align: right;
}
