$color1: #ede9ce;
$color2: #c43235;
$base-bg-color: #000;
$bk-experience-panel: #300032;

body {
  box-sizing: border-box;
  color: $color1;
  font-size: 14px;
  line-height: 1.5em;
  margin: 0;
}

a, a:link, a:visited, a:hover, a:active {
  color: $color1;
}

a:hover, a:active {
  background: $color1;
  color: $base-bg-color;
  display: inline-block;
}

p {
  max-width: 60em;
}

header {
  background: $base-bg-color;
  color: $color1;
  display: flex;
  height: 80vh;
  align-items: baseline;
  section {
    padding: 50px 20px;
  }
  section:first-child {
    width: 50%;
    text-align: center;
  }
  ul {
    text-align: left;
  }
}

.icn-myprof {
  border-radius: 80px;
  margin-bottom: 20px;
  width: 160px;
  height: 160px;
}

.experiences-block {
  > h1 {
    margin: 0;
    padding: 30px 20px;
    text-align: right;
    background: $color2;
    color: $color1;
  }
}

.experience-panel {
  padding: 20px 100px;
  background: $bk-experience-panel;
  color: $color1;
  border-top: 5px solid $color1;
  position: relative;

  img {
    width: 400px;
  }
}

.timespan {
  font-size: 12px;
  text-indent: 2em;
  font-style: italic;
}

.project-card {
  border-left: 5px solid #fff;
  padding-left: 20px;
  margin-top: 40px;

  .skills {
    margin-top: 30px;
  }
}


.u-tag {
  background: $color2;
  border: 1px solid $color1;
  color: $color1;
  border-radius: 2px;
  margin: 2px;
  padding: 2px 10px;
  display: inline-block;
  font-size: 10px;
  line-height: 1.5em;
}

.u-button {
  @extend .u-tag;
  background: $base-bg-color;
  padding: 10px;
  margin: 10px;
  text-decoration: underline;
  border-color: #ede9ce;
  font-size: 15px;
}
