doctype html
html lang="ja"
  head
    meta charset="UTF-8"
    title Portfolio:: Funyapu, a front-end web developer from Japan
    meta type="description" content="Portfolio of Funyapu: a front-end web developer in Japan."
    meta content="NOINDEX,NOFOLLOW" name="ROBOTS"
    meta property="og:title" content="Portfolio:: Funyapu, a front-end web developer from Japan"
    meta property="og:url" content="http://funyapu.github.io/"
    meta property="og:image" content="https://github.com/Funyapu.png"
    meta property="og:type" content="website"
    link href="stylesheets/main.css" rel="stylesheet"
    link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,300italic,400italic,600" rel="stylesheet" type="text/css"
  body
    header.overviews
      section
        img.icn-myprof alt="Funyapu" src="https://github.com/Funyapu.png"
        br
        span Funyapu@
        a href="https://github.com/Funyapu" target="_blank" Github
        |  or 
        a href="https://jp.linkedin.com/in/funyapu" target="_blank" LinkedIn
        markdown:
          * A **front-end web developer**.
          * Lives in **Japan**.
          * Natively use **Japanese** and can work in **English** too.

      section
        h1 Skills
        ul
          li.u-tag HTML
          li.u-tag CSS
          li.u-tag JavaScript
          li.u-tag GoogleAppsScript
          li.u-tag Angular.js
          li.u-tag Sass
          li.u-tag Scss
          li.u-tag CoffeeScript
          li.u-tag UX Engineering
          li
            p
              | Love to be helpful for people, so flexibly do other engineering, infrastructure or IT works too.

      section
        h1 Interest
        markdown:
          * Loves her family and pets!!
          * Likes to try new technologies.
          * Loves mobile devices.
          * Looking for a chance to study Industrial Engineering, or Management.
          * Loves to face bugs on HTML/CSS/JavaScript...
    section.experiences-block
      h1 Work history
      section.experience-panel#OPENLOGI
        a href="https://www.openlogi.com/" target="_blank"
          h1 OPENLOGI, Inc.
        .timespan 2016.7-2017.8
        .description
          p
            | A shareing economy start up for warehousing. The first company build platform for warehouses and retailers.
        .project-card
          h2.title B2BC dashboard for platform fro warehouses and retailers.
          .description
            p
              | Develop a Single Page Application dashboard and also maintain their style guide.
            a.u-button href="https://app.openlogi.com/portal/auth/login" target="_blank"
              | Project content
          ul.skills
            li.u-tag JavaScript
            li.u-tag React
            li.u-tag Stylus
            li.u-tag Pug
            li.u-tag Git
        .project-card
          h2.title Renew company and service landing page.
          .description
            p
              | Design and renew their website.
            a.u-button href="https://www.openlogi.com/" target="_blank"
              | Project content
          ul.skills
            li.u-tag JavaScript
            li.u-tag Stylus
            li.u-tag Pug
            li.u-tag Git
      section.experience-panel#KAIZEN
        a href="https://kaizenplatform.com/" target="_blank"
          h1 Kaizen Platform, Inc.
        .timespan 2015.3-2015.11
        .description
          p
            | A start up company which provide a platform web page and js tool for optimization and A/B testing along with optimizer network.
        .project-card
          h2.title B2BC dashboard for their optimization platform.
          .description
            p
              | Develop a Single Page Application dashboard and also maintain their style guide.
            a.u-button href="https://app.kaizenplatform.net/" target="_blank"
              | Project content
          ul.skills
            li.u-tag JavaScript
            li.u-tag CoffeeScript
            li.u-tag Angular.js
            li.u-tag Sass / Scss
            li.u-tag Slim
            li.u-tag Git
            li.u-tag for PC
            li.u-tag English
            li.u-tag Remote Work

      section.experience-panel#GMOR
        a href="http://www.gmo-research.jp/" target="_blank"
          h1 GMO Research, Inc.
        .timespan 2013.9-2014.12
        .description
          p
            | A research company represent creating web survey on SaaS system named Confirmit and also hosting Confirmit to research company in Japan.
        .project-card
          h2.title Creating surveys
          .description
              p
                | Wrote a lot of JScript to controle survey and checking ordered logics also maintain VBA tools for clianing survey result.
          ul.skills
            li.u-tag JScript
            li.u-tag VBA
            li.u-tag English
        .project-card
          h2.title System migration and updating.
          .description
              p
                | Promote a project to update the Confirmit system and migrated data and servers to Windows Server 2008 to Windows Server 2012.
          ul.skills
            li.u-tag Google Apps Script
            li.u-tag Shell
            li.u-tag Power Shell
            li.u-tag Windows Server 2008
            li.u-tag Windows Server 2012
            li.u-tag English

      section.experience-panel#TAMECCO
        a href="http://tamecco.jp/" target="_blank"
          h1 Tamecco
        .timespan 2013.6-2013.8
        .description
          p
            | A start up company of collaboration membership card for smartphone.
        .project-card
          h2.title Create dashboard for customers.
          .description
            p
              | Develop a Single Page Application dashboard provide restaurant owners application functions: guest analytics, edit and quick preview of shop page.
          ul.skills
            li.u-tag JavaScript
            li.u-tag Angular.js
            li.u-tag Scss
            li.u-tag Ruby
            li.u-tag Ruby on Rails
            li.u-tag Git
            li.u-tag for PC
            li.u-tag for Smartphone
            li.u-tag English

      section.experience-panel#Gree
        a href="http://corp.gree.net/jp/en/" target="_blank" 
          h1 Gree, Inc.
        .timespan 2012.7-2013.3
        .description
          p
            | Mobile SNS platform for communication and gaming.
        .project-card
          h2.title Web Magazine service
          .description
            p
              | Joined a team to create a web and e-mail magazine of celebrities.
            a.u-button href="http://web.archive.org/web/20140208025856/http://magalry.com/" target="_blank"
              | Archive
          ul
            li.u-tag HTML
            li.u-tag Scss
            li.u-tag Git
            li.u-tag for Smartphone
            li.u-tag for PC
        .project-card
          h2.title SNS platform
          .description
            p
              | Maintain the platform HTML,CSS and images.
              br
              | Also did performance tuning.
            a.u-button href="http://www.serkantoto.com/2012/05/24/gree-open-beta/" target="_blank"
              | Archive
          ul
            li.u-tag HTML
            li.u-tag Scss
            li.u-tag Git
            li.u-tag for Smartphone
            li.u-tag English
      section.experience-panel#MappleON
        a href="http://mapple-on.jp/company" target="_blank"
          h1 Mapple ON Co., Ltd.
        .timespan 2012.1-2012.6
        .description
          p
            | A company offers web pages or SP application with it parent company's content.
        .project-card
          h2.title Magazine and Apps show case
          .description
            p
              | Created a web showcase of the publishment of parent company for both PC and SP.
            a.u-button href="http://store.mapple-on.jp/" target="_blank"
              | Project content
          ul.skills
            li.u-tag HTML
            li.u-tag CSS
            li.u-tag PHP
            li.u-tag JavaScript
            li.u-tag Smarty
            li.u-tag SQL
            li.u-tag for Smartphone
            li.u-tag for PC
        .project-card
          h2.title Mobile web service renewal
          .description
            p
              | Created a smartphone version of guide book web service for feature phone.
              br
              | Replaced the HTML/CSS and added function to get GPS to show the distance for places.
            a.u-button href="http://k.mapple.jp/" target="_blank"
              | Project content
          ul.skills
            li.u-tag HTML
            li.u-tag CSS
            li.u-tag JavaScript
            li.u-tag PHP
            li.u-tag Smarty
            li.u-tag SQL
            li.u-tag for Smartphone
        .project-card
          h2.title Renewal corporate website, in-app public release feeder and in-app FAQ
          .description
            p
              | Replaced Baser CMS to PHP and Smarty webpage.
              br
              | Some data, such as releases and Q&A also used to show in the webview of Apps.
            a.u-button href="http://web.archive.org/web/20140701071104/http://mapple-on.jp/products/golfnavi" target="_blank"
              | Archive
            a.u-button href="http://web.archive.org/web/20140625100942/http://mapple-on.jp/products/skytree/" target="_blank"
              | Archive
            a.u-button href="http://web.archive.org/web/20140625093941/http://mapple-on.jp/products/ml-kaigai/" target="_blank"
              | Archive
          ul.skills
            li.u-tag HTML
            li.u-tag CSS
            li.u-tag JavaScript
            li.u-tag PHP
            li.u-tag SQL
            li.u-tag Smarty
            li.u-tag for Smartphone
            li.u-tag for PC

      section.experience-panel#Itec
        a href="http://itec.hankyu-hanshin.co.jp/company/" target="_blank" 
          h1 Itec Hankyu Hanshin Co.,Ltd.
        .timespan 2011.7-2011.12
        .description
          p
            | A System Integlator.
        .project-card
          h2.title Disital signage for Hotel
          .description
            p
              | Created a plottype of flash system and animation conclude a function to show XML data of the conference schedule and updateable restaulants showcase.
            img.thumb alt=("Digital signage sample") src="images/thumb_hotel-signage.jpg" /
          ul.skills
            li.u-tag ActionScript 3.0
            li.u-tag Adobe Flash
        .project-card
          h2.title SNS for picture sharing for devices includes TV blowsers and recorders.
          .description
            p
              | Asigned as a front-end engineer on the very end of project.
              br
              | Helped solving probrem of Web,FP,SP and TV browser on both front-end and php.
            a.u-button href="https://web.archive.org/web/20111030021314/http://lumixclub.panasonic.net/jpn/fronts/" target="_blank"
              | Archive
          ul.u-display-inline-block
            li.u-tag HTML
            li.u-tag CSS
            li.u-tag jQuery
            li.u-tag JavaScript
            li.u-tag PHP
            li.u-tag Cake PHP

